/* .margin-20 ul {
    list-style-type: none;
    text-align: justify;
}
.margin-20 ul li {
    display: inline-block;
} */
.codingEffort{
    width: 50%;
}
.time {
    width: 40%!important;
}

.suggetion {
    color: #673AB7;
    text-align: center;
}