<div bsModal #editQuotationModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editForm" #creQuotation="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            <span>{{ "Edit Quotation" | localize }}</span>
                        </h4>
                </div>
                <div class="modal-body">
                        <div class="col-sm-12" style="padding: 0px">
                            <table class="table">
                                <thead>
                                    <tr>    
                                        <th>no</th>
                                        <th>Task name</th>
                                        <th>Coding Effort</th>
                                        <th>Note</th>
                                        <th>Assumption</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of quoctationById">    
                                            <tr>
                                                <input [value]="item.id" matInput placeholder="id quoctationById" formControlName="id">
                                            </tr>
                                        <tr style="display: none"> <input  [(ngModel)]="item.id" formControlName="id"></tr> 
                                        <ng-container  *ngFor="let items of item?.wordItemDTOList; let i = index">
                                           <div   formArrayName="wordItemDTOList" >
                                                <tr *ngFor="let arr of formData.controls; let i = index" class="panel panel-default" [formGroupName]="i">
                                                        <td>
                                                            <input [value]="items.no" matInput placeholder="No" formControlName="no">
                                                        </td>

                                                        <td>
                                                            <input [value]="items.taskName" matInput placeholder="taskName" formControlName="taskName">
                                                        </td>

                                                        <td>
                                                            <input [value]="items.codingErffort" matInput placeholder="codingErffort" formControlName="codingErffort">
                                                        </td>

                                                        <td>
                                                            <input [value]="items.assumptionNote" matInput placeholder="assumptionNote" formControlName="assumptionNote">
                                                        </td>

                                                        <td>
                                                            <input [value]="items.assumptionConten" matInput placeholder="assumptionConten" formControlName="assumptionConten">
                                                        </td>

                                                        <td>
                                                            <input [value]="items.indayte" matInput placeholder="indayte" formControlName="indayte">
                                                        </td>
                                                </tr>
                                           </div>
                                        </ng-container>
                                    </ng-container>
                                    <!-- <div formArrayName="listworkItem">          
                                            <tr *ngFor="let arr of formData.controls; let i = index" class="panel panel-default" [formGroupName]="i">
                                                <td><mat-form-field>
                                                        <input matInput placeholder="Task name" formControlName="taskname" required>
                                                    </mat-form-field></td>
                                            </tr>
                                    </div> -->
                                </tbody>
                            </table>
                            <div>
                                    <button style="float: right" type="button" class="btn btn-success waves-effect" (click)="close()">
                                        Close
                                    </button>
                                </div>
                            </div>
                   </div>
                <div class="margin-20">
                        <button [disabled]="creQuotation.invalid" class="btn btn-success save" type="submit" style="cursor: default">
                            Save
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>