<div bsModal #editQuotationModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editForm" #creQuotation="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{ "Edit Quotation" | localize }}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="padding: 0px">
                        <table class="table">
                            <thead>
                                <tr>    
                                    <th>No.</th>
                                    <th>Task name</th>
                                    <th>Coding Effort</th>
                                    <th>Note</th>
                                    <th>Assumption</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <!-- id of quotation -->
                                    <input style="display: none" [(ngModel)]="quoctationById.id" name="id" [value]="quoctationById.id" matInput placeholder="id quoctationById" formControlName="id">
                                    <!-- id of work item  -->
                                    <tr style="display: none"> <input  formControlName="id"></tr> 
                                    <ng-container formArrayName="wordItemDTOList" *ngFor="let item of quoctationById.wordItemDTOList" >
                                        <!-- <form class="example-form"> -->
                                             <tr>    
                                                <td><input [(ngModel)]="item.no" [value]="item.no" matInput placeholder="No"></td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [value]="item.taskName">
                                                    </mat-form-field>
                                                </td>
                                                <td style="width: 20%;">
                                                    <mat-form-field class="codding">
                                                        <input matInput [value]="item.codingErffort">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [value]="item.assumptionNote">
                                                    </mat-form-field>
                                                </td>
                                                <td>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput [value]="item.assumptionConten">
                                                    </mat-form-field>
                                                </td>
                                                <td style="display: none"><input [value]="item.indayte" matInput placeholder="indayte"></td>
                                                <td><button class="btn btn-danger" type="button" (click)="delWorkItem(item.no)"> x</button></td>
                                             </tr>
                                        <!-- </form> -->
                                    </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-secondary waves-effect" (click)="close()">
                        Close
                    </button>
                    <button  [disabled]="creQuotation.invalid" class="btn btn-primary" type="submit" style="cursor: default">
                        Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<pre>Edit Form: {{editForm.value | json}}</pre>