<div bsModal #editQuotationModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editForm" #creQuotation="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{ "Edit Quotation" | localize }}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="padding: 0px">
                        <table class="table">
                            <thead>
                                <tr>    
                                    <th>No.</th>
                                    <th>Task name</th>
                                    <th>Coding Effort</th>
                                    <th>Note</th>
                                    <th>Assumption</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                   
                                    <!-- id of quotation -->
                                    <input style="display: none" [value]="quoctationById.id" matInput placeholder="id quoctationById" formControlName="id">
                                    <!-- id of work item  -->
                                    <tr style="display: none"> <input  [(ngModel)]="quoctationById.id" formControlName="id"></tr> 

                                    <ng-container formArrayName="wordItemDTOList" *ngFor="let item of quoctationById.wordItemDTOList" >
                                        <tr>    
                                            <td style="display: none"><input [value]="item.no" [(ngModel)]="item.no" matInput placeholder="No"></td>
                                            <td><input [value]="item.taskName" matInput ></td>
                                            <td><input [value]="item.codingErffort"    [(ngModel)]="item.codingErffort" matInput placeholder="codingErffort" formControlName="codingErffort"></td>
                                            <td><input [value]="item.assumptionNote"   [(ngModel)] ="item.assumptionNote" matInput placeholder="assumptionNote" formControlName="assumptionNote"></td>
                                            <td><input [value]="item.assumptionConten" [(ngModel)] ="item.assumptionConten" matInput placeholder="assumptionConten" formControlName="assumptionConten"></td>
                                            <td><input [value]="item.indayte"          [(ngModel)] ="item.indayte" matInput placeholder="indayte" formControlName="indayte"></td>
                                            <td><button class="btn btn-danger" type="button" (click)="delWorkItem(item.no)"> x</button></td>
                                        </tr>
                                    </ng-container>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button  type="button" class="btn btn-secondary waves-effect" (click)="close()">
                        Close
                    </button>
                    <button  [disabled]="creQuotation.invalid" class="btn btn-primary" type="submit" style="cursor: default">
                        Save changes
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<pre>Edit Form: {{editForm.value | json}}</pre>