<div bsModal #editQuotationModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">
            <form *ngIf="active" [formGroup]="editForm" #creQuotation="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                        <button type="button" class="close" (click)="close()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">
                            <span>{{ "Edit Quotation" | localize }}</span>
                        </h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12" style="padding: 0px">
                        <div class="col-sm-12" style="padding: 0px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Task name</th>
                                        <th>Coding Effort</th>
                                        <th>Note</th>
                                        <th>Assumption</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of quoctationById">
                                           <tr> <input matInput value ="{{item.id}}" formControlName="id"></tr>
                                        <ng-container  formArrayName="wordItemDTOList" *ngFor="let items of item?.wordItemDTOList; let i = index">
                                            <tr *ngFor="let arr of formData.controls; let i = index" class="panel panel-default" [formGroupName]="i">
                                                <td> <input matInput value="{{items.taskName}}" formControlName="taskName" placeholder="task name"></td>
                                                <td> <input matInput value="{{items.codingErffort}}" formControlName="codingErffort" placeholder="coding effort"></td>
                                                <td> <input matInput value="{{items.assumptionNote}}" formControlName="assumptionNote" placeholder="note"></td>
                                                <td> <input matInput value="{{items.assumptionConten}}" formControlName="assumptionConten" placeholder="assumption"></td>
                                                <td> <input matInput value="{{items.indayte}}" formControlName="indayte" placeholder="Date"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                            </div>
                        </div>
                   </div>
                <div class="margin-20">
                    <button [disabled]="creQuotation.invalid" class="btn btn-success save" type="submit" style="cursor: default">
                        Save
                    </button>
                    <button  class="btn btn-success" (click)="close()"  style="cursor: default">
                        Cance
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>