<div bsModal #editQuotationModel="bs-modal" class="modal fade" tabindex="-1" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div #modalContent class="modal-content">

            <form *ngIf="active" [formGroup]="editForm" #creQuotation="ngForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{ "Edit Quotation" | localize }}</span>
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12" style="padding: 0px">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Task name</th>
                                        <th>Coding Effort</th>
                                        <th>Note</th>
                                        <th>Assumption</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let item of quoctationById">
                                        <tr style="display: none">
                                            <mat-form-field> <input matInput [(ngModel)]="item.id" formControlName="id" readonly></mat-form-field>
                                        </tr>
                                        <!-- <div> -->
                                            <ng-container  formArrayName="wordItemDTOList" *ngFor="let items of item?.wordItemDTOList; let i = index">
                                                <tr *ngFor="let arr of formData.controls; let i = index" class="panel panel-default" [formGroupName]="i">
                                                    <td style="display: none"><mat-form-field> <input matInput [(ngModel)]="items.no" formControlName="no"></mat-form-field></td>
                                                    <td><mat-form-field> <input matInput [(ngModel)]="items.taskName" placeholder="task name" formControlName="taskName"></mat-form-field></td>
                                                    <td><mat-form-field> <input matInput  [(ngModel)]="items.codingErffort"  placeholder="coding effort" formControlName="codingErffort"></mat-form-field></td>
                                                    <td><mat-form-field> <input matInput  [(ngModel)]="items.assumptionNote"  placeholder="note" formControlName="assumptionNote"></mat-form-field></td>
                                                    <td><mat-form-field> <input matInput [(ngModel)]="items.assumptionConten" placeholder="assumption" formControlName="assumptionConten"></mat-form-field></td>
                                                    <td style="display: none"><mat-form-field> <input matInput [(ngModel)]="items.indayte" placeholder="indayte" formControlName="indayte"></mat-form-field></td>
                                                </tr>
                                            </ng-container>
                                          <!-- </div>      -->
                                    </ng-container>
                                </tbody>
                            </table>
                     </div>
                  
                    <div class="margin-20"  style="float: right">
                            <button class="btn btn-warning" (click)="close()" style="cursor: default">
                                Cance
                            </button>
                            <button [disabled]="creQuotation.invalid" class="btn btn-success save" type="submit" style="cursor: default">
                                Save
                            </button>
                      </div>
                    </div>
            </form>
        </div>
    </div>
</div>